@font-face {
    font-family: 'wisdom_script_airegular';
    src: url('fonts/wisdomscriptai-webfont.eot');
    src: url('fonts/wisdomscriptai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdomscriptai-webfont.woff2') format('woff2'),
         url('fonts/wisdomscriptai-webfont.woff') format('woff'),
         url('fonts/wisdomscriptai-webfont.ttf') format('truetype'),
         url('fonts/wisdomscriptai-webfont.svg#wisdom_script_airegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('fonts/brandongrotesque-regular-webfont.eot');
    src: url('fonts/brandongrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandongrotesque-regular-webfont.woff2') format('woff2'),
         url('fonts/brandongrotesque-regular-webfont.woff') format('woff'),
         url('fonts/brandongrotesque-regular-webfont.ttf') format('truetype'),
         url('fonts/brandongrotesque-regular-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.donation-select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 254px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("arrowdown.gif") no-repeat 233px;
    height: 41px;    
    margin-right: 20px;

}

.donation-select-style select {
    height: 100%;
    font-size: 12px;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.donation-select-style select:focus {
    outline: none;
}

.donation-box {
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #fbdb7b;
    height:0;
    z-index:100;
    transition: all 0.3s ease-in-out;

}
.donation-box-visible {
    height: 235px;
    opacity:1;
}
.donation-box-inner {
    width: 960px;
    height: 235px;
    margin: auto;
    
}

.donation-box-couple {
    background-image: url("donation-box-couple.png");
    background-repeat: no-repeat;
    background-position:  bottom;
    height: 215px;
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .donation-button-container .five {margin-right: 36px !important;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .donation-button-container .columns {padding:4px 0;}
    .donation-button-container {text-align:center;}
    .donation-select-style {margin: auto;}
    .donation-box-couple, .donation-box-couple-pre {
        display: none !important;
    }
    
    .donation-box-inner {
        width: 100%;
    }

    .donation-box-couple {
        height: 130px;
    }
    .donation-box-inner h2 {
        font-size: 30px !important;
    }
    .donation-box-inner p {
        font-size: 15px !important;
    }
    .donation-box-copy {
        padding-top: 10px !important;    
    }
}

@media only screen and (max-width: 479px) {
    .donation-button-container .columns {padding:4px 0;}
    .donation-button-container {text-align:center;}
    .donation-select-style {margin: auto;}
    .donation-box-couple, .donation-box-couple-pre {
        display: none !important;
    }
    
    .donation-box-inner {
        width: 100%;
    }

    .donation-box-couple {
        height: 130px;
    }
    .donation-box-inner h2 {
        font-size: 25px !important;
    }
    .donation-box-inner p {
        font-size: 15px !important;
    }
    .donation-box-copy {
        padding-top: 0px !important;    
    }

    .donation-close { 
        top: 5px !important;
        right: 5px !important;
    }
    #masterhead {
        margin-top: 91px !important;
    }

}

.donation-box-inner h2 {
    font-family: 'wisdom_script_airegular';
    font-size: 35px;
    color: #000;
    letter-spacing: 0px;
}

.donation-box-inner p {
    font-family: 'brandon_grotesque_regularRg';
    font-size: 19px;
    color: #000;
}

.donation-box-copy {
    padding-top: 20px;    
}

.donation-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 40px;
}

.donation-handle-container {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 115px;
    /* background: #000; */
    position: fixed;
    top: 0px;
    z-index: 998;
    transition: all 0.3s ease-in-out;
}
.donation-handle-container-shifted {
    top: 235px !important;
}
.donation-handle {        
    bottom: -100px;
    right: 10%;
    
    font-size: 100px;
    position:absolute;
    transition: all 0.2s ease-in-out;
}
.donation-handle:hover {
    bottom: -120px !important;
}
.fixed-header {
    transition: all 0.3s ease-in-out;    
}



.fixed-header-shifted {
    top: 235px !important;
}
.shiftable-content {
    padding-top:0px;
    transition: all 0.3s ease-in-out;
}
.shifted {
    padding-top:235px;
}